version: "3.1"

services:

  db:
    image: mysql/mysql-server
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - "./mysql:/var/lib/mysql"
      - "./mysql_conf.d:/etc/mysql/conf.d"

  newznab:
    image: newznab_plus
    depends_on:
    - db
    restart: always
    environment:
      TZ: America/New_York
    volumes:
      - "./newznab:/var/www/newznab"
    ports:
      - 8088:80

